      <div class="box post" id="post-1">
        <div class="content">
          <div class="post-title">
            <h2>We’ll make sure template works for you</h2>
          </div>
          <!--/post-title -->
          <div class="clr"></div>
          <div class="social-links">
            <div class="post-commets"> <a href="#" title="View Comments">15</a> Comments</div>
            <!--/post-comments -->
            <div class="post-date">On 02.19.10, In <a href="#" title="View all posts in Blog Theme" rel="category tag">Blog Theme</a> ,  by <a href="#" title="Posts by admin">admin</a> </div>
            <div class="clr"></div>
          </div>
          <!--/social-links -->
          <div class="clr"></div>
          <div class="post-pic fl"> <a href="#" rel="bookmark" title="Permanent Link to Hello world!"><img src="/assets/img_1.jpg" alt="Post Pic" width="198" height="111" /></a> </div>
          <!--post-date -->
          <div class="post-excerpt">
            <p><strong>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </strong><br />
              It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            <p><span>Leave Your <a href="#" title="Leave Your Response">Comment »</a></span></p>
          </div>
          <!--/post-excerpt -->
</div>
        <!--/content -->
        <div class="clr"></div>
      </div>
      <!--/box -->
      <div class="clr"></div>
      <div class="wp-pagenavi"> <span class="pages">Page 1 of 2&#8201;</span><span class="current">&#8201;1&#8201;</span><a href="#" title="2">&#8201;2&#8201;</a><a href="#" >&raquo;</a>
        <div class="clr"></div>
      </div>
